body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.homepage {
  background-color: rgb(226, 90, 172);
  
}

.header-content {
  background-color: rgb(223, 170, 207);
  padding: 20px;
  
  opacity: 0.9;
  
}
.header-content h1 {
  font-size: 60px;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 20px;
  color: rgb(167, 11, 104);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Ovo će biti potrebno ako želite vertikalno centriranje */
  
    
}
/*razmještaj gumbova*/
.header-content nav ul {
  list-style-type: none;
  margin-top:30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.header-content nav ul li {
  margin: 0 5px;
}



/*izgled gumba općenito */
.header-content nav ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border: 3px solid rgb(167, 11, 104);
  border-radius: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  font-size: 25px;
  
}
/*kad stanem na gumb kako će izgledati*/
.header-content nav ul li a:hover {
  background-color: rgb(226, 90, 172);
  color: black;
}
/* styles.css */


/* Body.css */
.body-container {
  padding: 20px;
  
}

.section {
  margin-bottom: 30px;
}

h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 20px;
  font-size: 30px;
  color: white;
}



.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tri slike u svakom retku */
  grid-gap: 10px; /* Razmak između slika */
  margin-top: 10px;
  background-color: rgb(223, 170, 207);
  padding: 10px;
  
}

.image-item {
  width: 100%;
  position: relative;
  overflow: hidden;
  transform: skew(-15deg);
  padding-top: 100%;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skew(15deg);
  box-shadow: 0px 12px 24px rgba(163, 38, 96, 0.9);
  object-fit: cover;
  
}
/* Stilovi za uvećanu sliku */
.expanded-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(216, 191, 210, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.expanded-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  cursor: pointer;
  transform: translate(-50%, -50%);
  position: absolute; /* Potrebno za centriranje */
  top: 50%; /* Centriranje po vertikali */
  left: 50%; /* Centriranje po horizontali */
}


/*Stilovi za registrciju*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
  background-size: cover;
  margin-top: 0;
  
  
}

.card {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(235, 187, 223);
  width: 400px;
  
}

h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  color: rgb(226, 90, 172);
}

.form-group {
  margin-bottom: 15px;
  
}

label {
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(226, 90, 172);
  border-radius: 10px;
}

.btn {
  background-color: rgb(245, 179, 229);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.btn-primary {
  background-color: rgb(226, 90, 172);
}

.mt-4 {
  margin-top: 1rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .card {
    width: 90%;
  }
}

/*Stilovi za login*/
/* Login.module.css */

.row {
  margin-bottom: 1rem;
}

.col-sm-6 {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(235, 187, 223);
  width: 400px;
}


.btn-primary {
  background-color: rgb(226, 90, 172);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: plum;
  color: plum;
}

/*izgled o nama*/
.sectionaboutus {
 
  padding: 20px; /* Razmak oko teksta */
  text-align: center; /* Centriranje teksta */
  font-size: 30px; /* Veličina fonta */
  color: white; /* Boja teksta */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  
}

/*izgled cjenik*/
.price-list {
  border: 5px solid white;
  padding: 20px;
  margin: 20px 0;
  max-width: 500px;
  margin: 0 auto;
  
  
}

.price-list h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.price-list ul {
  list-style: none;
  padding: 0;
  background-color: white;
  padding: 20px;
  border:10px solid rgb(235, 187, 223);
}

.price-list li {
  border-bottom: 1px solid rgb(235, 187, 223);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.price-list h3 {
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: rgb(170, 28, 106);
}

.price-list p {
  font-size: 16px;
  color: rgb(170, 28, 106);
  font-family: Georgia, 'Times New Roman', Times, serif;
}


/* App.css */

.app {
  text-align: center;
  margin: 2rem;
}

.reservation-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
}

.reserved-slot {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: center;
}

.reservation-form {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  display: inline-block;
}

.reservation-form h2 {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"],
select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #0056b3;
}




/* App.css */

.app {
  text-align: center;
  margin: 2rem;
}

.reservation-board {
  margin-top: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th, td {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/*logout*/

.user-info {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.username {
  margin-right: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  color: rgb(167, 11, 104);;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: white 0.3s;
  text-decoration: none;
  padding: 5px 10px;
  border: 3px solid rgb(167, 11, 104);
  border-radius: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
}

.logout-button:hover {
  background-color: white;
  text-decoration: underline;
}

.logout{
  margin-top: 25px;
  display: flex;
  justify-content: flex-start; 
  align-items: center; /* Centriranje vertikalno */
}

.centered-content {
  text-align: center; /* Centriranje teksta unutar centriranog sadržaja */
}

.user-icon{
  margin-right: 5px;
  font-size: 25px;
  color: white;
}




















.selected {
  background-color: pink; /* Promijenite boju prema vašim željama */
  /* Dodajte ostale stilove za promjenu izgleda */
}
